
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">


    <h3 class="alert alert-success">Yeni Kategori Ekleme Alanı</h3>

    <label>Kategori adı</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Değeri</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-primary">Kategori Oluştur</button>


</div>